expman-web/src/main/resources/MainMenu.xml

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified"          
  attributeFormDefault="unqualified">
	<xs:complexType name="MenuItem">
		<xs:sequence>
			<xs:element name="Key" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Action" type="xs:string"/>
			<xs:element name="Visible" type="xs:boolean"/>
			<xs:element name="Disabled" type="xs:boolean"/>
			<xs:element name="Header" type="xs:boolean"/>
			<xs:element name="Roles">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="Role" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="MainMenu">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="menuItem" type="MenuItem" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>